@import './maincolors.css';

/* todo alignement*/
footer {
  background-color: #0F0F1A;
  text-align: center;
  padding: 30px;
  color: white;
  width: 100%;
  bottom: 0;
  text-decoration: bold;
  margin-top: 200px;
  font-family: Kanit;
}




.limited {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}





